---
import Layout from "../layouts/layout.astro"
import { series } from "../lib/series"

let seriesData: any[] = [];

try {
    const response = await fetch(`${Astro.url.origin}/api/series`);
    if (!response.ok) throw new Error(response.statusText);
    seriesData = await response.json();
} catch (error) {
    console.error('Error fetching series:', error);
}

series.set(seriesData);
---

<style scoped>
    h1 {
        text-align: center;
        margin: 2rem 0;
        font-size: 2rem;
		color: hsl(224, 100%, 85%);
    }

    header{
        text-align: center;
        width: 80%;
        margin: auto;
        margin-bottom: 40px;
    }

    header a{
        background-color: hsl(224, 100%, 85%);
        padding: 10px 20px;
        font-weight: 600;
        color: #232328;
        transition: ease 0.2s;
    }

    header a:hover{
        scale: 1.05;
        box-shadow: 0px 0px 5px hsl(224, 100%, 85%);
    }

    p{
		color: #C1C3C8;
	}

    .series-catalog {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 5rem;
    }

    .series-title {
        position: relative;
        top: -0.8rem;
        text-align: center;
        font-size: 1rem;
        color: white;
        background-color: #000;
        margin: 0;
        border-radius: 0 0 10px 10px;
    }

    a {
        width: 200px;
        height: 300px;
        object-fit: cover;
        border-radius: 10px;
        transition: ease 0.2s;
        box-shadow: 0px 0px 30px #000;
    }

    a:hover {
        scale: 1.05;
        cursor: pointer;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
</style>

<Layout title="Catalog - AstroFilms">
    <section>
        <header>
            <h1>AstroFilms Catalog</h1>
            <p>In this section you can find information about your favorite movies, as well as comments made by other viewers. You can also add add new movies if you want.</p><br/>
            <a href="/series/new">Add new series</a>
        </header>

        <div class="series-catalog">
            {seriesData.map((s) => (
                <a href={`/series/${s.id}`}>
                    {s.poster
                    ? <img src={s.poster} alt={s.name}/>
                    : <img src="/unavailable.png" alt={s.name}/> }
                    <p class="series-title">{s.name}</p>
                </a>
            ))}
        </div>
    </section>
</Layout>
